.footer {
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    background-color: #333;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -2px 5px rgba(0,0,0,0.2); /* 상단에 그림자 효과 */
  }
  
  .tab-button {
    flex-grow: 1;
    background-color: transparent;
    border: none;
    color: white;
    padding: 10px;
    font-size: 16px;
    transition: background-color 0.3s;
  }
  
  .tab-button:hover {
    background-color: #007bff; /* 버튼 호버 시 배경 색상 변경 */
  }
  